{% extends 'app/base.html' %} {% load static %} {% block title %}Mobile
{% endblock title %} {% block main-content %}
<div class="container my-5">
  <div class="row">
<div class="col-sm-3">
  <div class="list-group">
    <a href="{% url 'mobile' %}" class="list-group-item list-group-item-action btn {% if data is None %}active{% endif %}">
      All Mobile
    </a>
    <a href="{% url 'mobiledata' 'Redmi' %}" class="list-group-item list-group-item-action btn {% if data == 'Redmi' %}active{% endif %}">
      Redmi Mobile
    </a>
    <a href="{% url 'mobiledata' 'Samsung' %}" class="list-group-item list-group-item-action {% if data == 'Samsung' %}active{% endif %}">
      Samsung Mobile
    </a>
    <a href="{% url 'mobiledata' 'below' %}" class="list-group-item list-group-item-action {% if data == 'below' %}active{% endif %}">
      Less than 12000
    </a>
    <a href="{% url 'mobiledata' 'above' %}" class="list-group-item list-group-item-action {% if data == 'above' %}active{% endif %}">
      Greater than 12000
    </a>
  </div>
</div>


<div class="col-sm-8 offset-1 ">
 <div class="row">
  {% for product in mobiles %}
  <div class="col-md-6  text-center mb-4">
    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width:14rem;" >
            <div class="inner">
              <img src="{{ product.product_image.url }}" class="card-img-top" alt="Card image cap" height="250">
            </div>
            <div class="card-body">
              <strong><h5 class="card-title">{{product.title}}</h5></strong>
              
              <h6>Rs. {{product.discounted_price}} 
              <small class="fw-light text-decoration-line-through">Rs. {{product.selling_price}}</small></h6>
              <a href="{% url 'product-detail' product.id %}" class="btn btn-success">Check Now</a>
            </div>
    </div>
   </div>
   {% endfor %}
 </div>
</div>


    {% comment %} <div class="col-sm-8 offset-sm-1">
      <div class="row">
        {% for product in mobiles %}
        <div class="col-sm-4 text-center mb-4">
          <a href="{% url 'product-detail' product.id %}" class="btn">
            <div class="item">
              <img src="{{product.product_image.url}}" alt="image" height="300" />
              <div class="fw-bold">{{product.title}}</div>
              <div class="fw-bold">
                Rs. {{product.discounted_price}} 
    <small class="fw-light text-decoration-line-through">Rs. {{product.selling_price}}</small>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div> {% endcomment %}

  </div>
</div>

  {% endblock main-content %}